/models
/*.mp4
.env
/data/example_video_dataset/
/merge_videos/
/data/stuttgart/
/my_hdr_frames/
/encoder_test/
stuttgart_output.npy
my_hdr_frames_from_mp4
stuttgart_output_frames/
wandb
/Zeroshot-HDRV-main/
/data/ubc
/data/trevor
/data/lvzhdr/
/data/dhdr-sig2017/
/data/invert_pipeline
/evaluations
/metrics/evaluations_output
/final_metrics_may_4
/final_metrics_may_4_eval_output/
/genvideos